// colors
$accentColor = #359499
$textColor = #040b0c
$borderColor = #f5fbfb
$codeBgColor = #0e292a
$arrowBgColor = #d7f0f1

// layout
$navbarHeight = 3.5rem
$sidebarWidth = 15rem
$contentWidth = 750px

// responsive breakpoints
$MQNarrow = 992px
$MQMobile = 768px
$MQMobileNarrow = 576px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

@import '~@temp/override.styl'
