// colors
$accentColor = #359499;
$textColor = #212529;
$borderColor = #e9f7f7;
$codeBgColor = #212529;
$arrowBgColor = #cceced;

// layout
$navbarHeight = 3.5rem;
$sidebarWidth = 15rem;
$contentWidth = 750px;

// responsive breakpoints
$MQNarrow = 992px;
$MQMobile = 768px;
$MQMobileNarrow = 576px;

// code
$lineNumbersWrapperWidth = 3.5rem;
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile;